body{
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

img{
    -webkit-background-clip: text;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select:none;
    user-select:none;
}

.main_contenedor{
    position: absolute;
    top:0%;
    left:0%;
    width:100%;
    height: 100%;
    background: linear-gradient(120deg, #a802fa, #046ade);
    display: flex;
    flex-wrap: wrap;
}

.encabezado{
    position: absolute;
    top: 0%;
    left: 0%;
    width:100%;
    height:10%;
    background: #171717;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0%;
}

.main_encabezado{
    width:100%;
    height:10%;
    background: #171717;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0%;
}

.logo{
    height:80%;
}

.main_contenedor_bienvenida{
    width:100%;
    height:90%;
    background: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0%;
    gap:5%;

}

.imagen_bienvenida{
    height: 90%;

}

.contenedor_bienvenida_texto{
    background: none;
    width: 40%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0%;
}

.bienvenida_texto{
    background: linear-gradient(120deg, #02abfa, #fa02f2);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 70px;
    text-align: center;
}

.main2_contenedor{
    position: absolute;
    top:100%;
    left:0%;
    width:100%;
    height: 200%;
    background: linear-gradient(179deg, #141414, #000070);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.main2_contenedor_navegador{
    width:100%;
    height: 200px;
    background: #00007090;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
}

.main_contenedor_de_contenedores{
    width:100%;
    height:30%;
    background:#ff0000;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.main_texto_subtitulos{
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    width: 70%;
}

.main_contenedor_categorias{
    width:70%;
    height:80%;
    background: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2%;
}

.main_contenedor_ofertas{
    width:23.5%;
    height:100%;
    background: linear-gradient(120deg, #02abfa, #fa02f2);
    border-radius: 10px;
    cursor: pointer;

}

.main_contenedor_categorias_opciones{
    width:23.5%;
    height:40%;
    background: linear-gradient(120deg, #02abfa, #fa02f2);
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.main_contenedor_categorias_opciones:hover{
    width:23.5%;
    height:40%;
    background: linear-gradient(120deg, #02abfa, #fa02f2);
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow:  0px 0px 10px #0040ff;
    transition: 0.3s;

}

.main_contenedor_de_imagenes{
    width: 100%;
    height: 15%;
    background: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.main_subimagenes{
    height: 100%;
}

.main_imagen_categorias_populares{
    height: 55%;
    filter: invert(100%);
    margin-top: 5%;

}

.main_texto_categorias_populares{
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    text-align: center;
}






.main_contenedor_2{
    position: absolute;
    top:0%;
    left:100%;
    width:100%;
    height: 100%;
    background: linear-gradient(120deg, #ff0000, #046ade);
    display: flex;
    flex-wrap: wrap;
}

.main_contenedor_3{
    position: absolute;
    top:0%;
    left:200%;
    width:100%;
    height: 100%;
    background: linear-gradient(120deg, #ffffff, #046ade);
    display: flex;
    flex-wrap: wrap;
}

@keyframes cambio{
    0%{
        position: absolute;
        top:0%;
        left:100%;
    }

    100%{
        position: absolute;
        top:0%;
        left:0%;
    }
}

@keyframes cambio1{
    0%{
        position: absolute;
        top:0%;
        left:0%;
    }

    100%{
        position: absolute;
        top:0%;
        left:-200%;
    }
}

@keyframes cambio82{
    0%{
        position: absolute;
        top:0%;
        left:200%;
    }

    100%{
        position: absolute;
        top:0%;
        left:0%;
    }
}

.categorias_contenedor_sistema{
    width:23.5%;
    height:60%;
    background: linear-gradient(120deg, #02abfa, #fa02f2);
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.categorias_contenedor_sistema:hover{
    width:23.5%;
    height:60%;
    background: linear-gradient(120deg, #02abfa, #fa02f2);
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow:  0px 0px 10px #0040ff;
}





.main2_contenedor_2{
    position: absolute;
    top:100%;
    left:0%;
    width:100%;
    height: auto;
    background: linear-gradient(179deg, #141414, #000070);
    display: none;
    flex-wrap: wrap;
    justify-content: center;

}

.contenedor_productos{
    width:90%;
    height: 1400px;
    background: none;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    gap:5%;

}

.contenedor_productos_filtros{
    width:20%;
    height: 52.5%;
    background: linear-gradient(120deg, #6200ff, #9b01d8);
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
}

.contenedor_productos_resultados{
    width:70%;
    height: 80%;
    background: none;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
    gap: 2%;

}

.contenedor_cambiar_de_lista{
    width:100%;
    height: 5%;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    gap:5%;
}

.contenedor_cambiar_de_lista_opcion{
    width:5%;
    height: 100%;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg, #6200ff, #9b01d8);
    border-radius: 10px;
    cursor: pointer;

}

.contenedor_cambiar_de_lista_opciones_siguientes{
    width:10%;
    height: 100%;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg, #6200ff25, #9b01d825);
    border-radius: 10px;
}

.contenedor_inferior{
    width:100%;
    height: 160px;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    gap:5%;
    background: linear-gradient(179deg, #000070, #141414);
    margin: 0%;
    margin-top: 8%;
    box-shadow: 0px -5px 20px #171717;
}

.contenedor_productos_resultados_tarjetas{
    width:30%;
    height: 32%;
    background: linear-gradient(120deg, #6200ff, #9b01d8);
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}

.contenedor_productos_resultados_tarjetas_imagen{
    width:100%;
    height: 70%;
    background: linear-gradient(120deg, rgb(98, 0, 255), rgb(155, 1, 216));
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
    filter: contrast(70%);
    filter: brightness(80%);
}

.main_texto_subtitulos_resultados{
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    width: 95%;
    height: 2.5%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.nombre_del_producto{
    color: #ffffff;
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 80%;
    text-align: center;
    margin: 0%;

}

.nombre_del_producto_2{
    color: #ffffff;
    font-size: 12px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 40%;
    text-align: center;
    margin: 0%;
}

.contenedor_imagen_seccion{
    background: linear-gradient(120deg, rgb(98, 0, 255), rgb(155, 1, 216));
    width: 100%;
    height: 21%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    box-shadow: 0px 0px 7px #171717;

}

.productos_imagen_seccion{
    width: 40%;
    height: 70%;
    filter: invert(100%);
}

.contenedor_cambiar_de_lista_opcion_texto{
    color: #ffffff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.contenedor_cambiar_de_lista_opcion_texto_2{
    color: #ffffff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    opacity: 50%;
}

.contenedor_opciones_filtro_texto{
    color: #ffffff;
    font-size: 12px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 70%;
    text-align: left;
    margin: 0%;
    height: 2%;
}

.opciones_filtro_texto{
    color: #ffffff;
    font-size: 12px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: auto;
    height: 100%;
    text-align: left;
    margin: 0%;
    cursor: pointer;
    transition: 0.3s;
}

.opciones_filtro_texto:hover{
    color: #00ffff;
    font-size: 12px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: auto;
    height: 100%;
    text-align: left;
    margin: 0%;
    cursor: pointer;
}


.opciones_filtro_titulo{
    color: #ffffff;
    font-size: 17px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 70%;
    text-align: left;
    margin: 0%;

}

.main2_contenedor_3{
    position: absolute;
    top:100%;
    left:0%;
    width:100%;
    height: auto;
    background: linear-gradient(179deg, #141414, #000070);
    display: none;
    flex-wrap: wrap;
    justify-content: center;

}

.main2_contenedor_4{
    position: absolute;
    top:100%;
    left:0%;
    width:100%;
    height: auto;
    background: linear-gradient(179deg, #141414, #000070);
    display: none;
    flex-wrap: wrap;
    justify-content: center;

}





/* Celular inteligente */
@media screen and (min-width:0px) and (max-width:381px) {

    .main_contenedor_bienvenida{
        width:100%;
        height:90%;
        display: flex;
        flex-wrap:wrap-reverse;
        justify-content: center;
        align-items: center;
    }

    .contenedor_bienvenida_texto{
        background: none;
        width: 94%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 0%;
    }

    .bienvenida_texto{
        background: linear-gradient(120deg, #02abfa, #fa02f2);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        -webkit-background-clip: text;
        color: transparent;
        font-size: 33px;
        text-align: center;
    }

    .imagen_bienvenida{
        height: 60%;
    }

    .main2_contenedor{
        position: absolute;
        top:100%;
        left:0%;
        width:100%;
        height: auto;
        background: linear-gradient(179deg, #141414, #000070);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
    }

    .main2_contenedor_navegador{
        width:100%;
        height: 100px;
        background: #00007090;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 3%;
    }
    .main_contenedor_de_contenedores{
        width:100%;
        height:auto;
        background:none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .main_contenedor_categorias{
        width:100%;
        height:auto;
        background: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 2%;
    }

    .main_contenedor_categorias_opciones{
        width:37.5%;
        height:150px;
        background: linear-gradient(120deg, #02abfa, #fa02f2);
        cursor: pointer;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 2%;
    }
    
    .main_contenedor_categorias_opciones:hover{
        width:37.5%;
        height:150px;
        background: linear-gradient(120deg, #02abfa, #fa02f2);
        cursor: pointer;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        box-shadow:  0px 0px 10px #0040ff;
        transition: 0.3s;
    
    }

    .main_contenedor_de_imagenes{
        width: 100%;
        height: 200px;
        background: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .main_contenedor_ofertas{
        width:37.5%;
        height:200px;
        background: linear-gradient(120deg, #02abfa, #fa02f2);
        border-radius: 10px;
        cursor: pointer;
        margin-bottom: 2%;
    }





    .categorias_contenedor_sistema{
        width:37.5%;
        height:150px;
        background: linear-gradient(120deg, #02abfa, #fa02f2);
        cursor: pointer;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        margin-bottom: 2%;
    }
    
    .categorias_contenedor_sistema:hover{
        width:37.5%;
        height:150px;
        background: linear-gradient(120deg, #02abfa, #fa02f2);
        cursor: pointer;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        box-shadow:  0px 0px 10px #0040ff;
    }





    .main2_contenedor_2{
        position: absolute;
        top:100%;
        left:0%;
        width:100%;
        height: auto;
        background: linear-gradient(179deg, #141414, #000070);
        display: none;
        flex-wrap: wrap;
        justify-content: center;
    
    }
    
    .contenedor_productos{
        width:90%;
        height: 200%;
        background: none;
        display: none;
        flex-wrap: wrap;
        justify-content: left;
        gap:5%;
    
    }

    .contenedor_productos_resultados{
        width:100%;
        height:200%;
        background: none;
        display: none;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 10px;
        gap: 2%;
        margin: 2%;

    }

    .contenedor_imagen_seccion{
        background: linear-gradient(120deg, rgb(98, 0, 255), rgb(155, 1, 216));
        width: 100%;
        height: 21%;
        display: none;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border-top-left-radius:10px;
        border-top-right-radius:10px;
        box-shadow: 0px 0px 7px #171717;
        visibility:hidden;
    }

    .contenedor_productos_filtros{
        width:100%;
        height: auto;
        background: linear-gradient(120deg, #6200ff, #9b01d8);
        display: none;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 10px;
        margin: 0%;

    }

    .contenedor_productos_resultados_tarjetas{
        width:46%;
        height: 200px;
        background: linear-gradient(120deg, #6200ff, #9b01d8);
        display: none;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 10px;
        cursor: pointer;
        margin-bottom: 2.3%;

    }
    
    .contenedor_productos_resultados_tarjetas_imagen{
        width:100%;
        height: 60%;
        background: linear-gradient(120deg, rgb(98, 0, 255), rgb(155, 1, 216));
        display: none;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 10px;
        filter: contrast(70%);
        filter: brightness(80%);
    }

    .nombre_del_producto{
        color: #ffffff;
        font-size: 11px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        width: 100%;
        text-align: center;
        margin: 0%;
    
    }
    
    .nombre_del_producto_2{
        color: #ffffff;
        font-size: 7px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        width: 40%;
        text-align: center;
        margin: 0%;
    }
    
    .contenedor_opciones_filtro_texto{
        color: #ffffff;
        font-size: 12px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        width: 70%;
        text-align: left;
        margin: 0%;
        height:9px;
    }
    
    .opciones_filtro_texto{
        color: #ffffff;
        font-size: 7px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        width: auto;
        height: 100%;
        text-align: left;
        margin: 0%;
        cursor: pointer;
        transition: 0.3s;

    }
    
    .opciones_filtro_texto:hover{
        color: #00ffff;
        font-size: 7px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        width: auto;
        height: 100%;
        text-align: left;
        margin: 0%;
        cursor: pointer;
    }
    
    
    .opciones_filtro_titulo{
        color: #ffffff;
        font-size: 13px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        width: 70%;
        text-align: left;
        margin: 0%;

    }

    .main_texto_subtitulos_resultados{
        color: #ffffff;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 29px;
        width: 100%;
        height: 2.5%;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 15%;
        margin-top: 8%;

    }

    .contenedor_cambiar_de_lista{
        width:100%;
        height: auto;
        display: none;
        flex-wrap: wrap;
        justify-content: center;
        gap:5%;
        background: none;
        margin-top: 5%;
    }
    
    .contenedor_cambiar_de_lista_opcion{
        width:10%;
        height: 30px;
        display: none;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background: linear-gradient(120deg, #6200ff, #9b01d8);
        border-radius: 10px;
        cursor: pointer;
    
    }
    
    .contenedor_cambiar_de_lista_opciones_siguientes{
        width:20%;
        height:30px;
        display: none;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background: linear-gradient(120deg, #6200ff25, #9b01d825);
        border-radius: 10px;
    }

    .contenedor_inferior{
        width:100%;
        height: 130px;
        display: none;
        flex-wrap: wrap;
        justify-content: center;
        gap:5%;
        background: linear-gradient(179deg, #000070, #141414);
        margin: 0%;
        margin-top: 28%;
        box-shadow: 0px -5px 20px #171717;
    }

    .contenedor_cambiar_de_lista_opcion_texto{
        color: #ffffff;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 15px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0%;

    }
    
    .contenedor_cambiar_de_lista_opcion_texto_2{
        color: #ffffff;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 15px;
        opacity: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0%;
    }
}
