/* Aquí va el contenido CSS principal */
*{
  margin: 0%;
  padding: 0%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.body{
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-content: start;
}
.header{
  width: calc(100% - 100px);
  height: auto;
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: #ffffff;
  padding: 15px 50px;
  box-shadow: 0px 0px 50px #00000020;
  z-index: 1;
}
.imagen-logo{
  width: 120px;
  height: auto;
  object-fit: cover;
}
.main{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-content: start;
  background-color: #ffffff;
  padding: 15px 15px;
  gap: 15px 15px;
}
.seccion-menu-opciones{
  width: 10%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-content: start;
  gap: 15px 15px;
  background-color: #ffffff;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0px 40px 50px #00000020;
  z-index: 2;
  overflow: hidden;
}
.seccion-contenido{
  width: calc(90% - 15px);
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-content: start;
  gap: 15px 15px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 0px 50px #00000025;
  overflow: hidden;
  padding-bottom: 15px;
}
.opcion-menu-opciones{
  width: 100%;
  height: auto;
  padding: 10px 15px;
  color: #252525;
  font-weight: 600;
  text-transform: uppercase;
  text-align: start;
  text-decoration: none;
  gap: 10px 10px;
  transition: 0.25s;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-content: start;
  align-items: center;
  stroke: #252525;
  cursor: pointer;
}
.opcion-menu-opciones:hover{
  background-color: #cabcf6;
}
.opcion-menu-opciones svg{
  width: 11%;
}
.opcion-activa{
  background-color: #b3a0f2;
  color: #ffffff;
  stroke: #ffffff;
  fill: #ffffff;
}
.contenedor-encabezado{
  width: 100%;
  padding: 10px 15px;
  background-color: #b3a0f2;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-content: center;
}
.texto-encabezado{
  color: #ffffff;
  stroke: #ffffff;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-content: start;
  align-items: center;
  gap: 10px 10px;
  font-weight: 600;
}
.texto-encabezado path{
  fill: #ffffff;
}
.texto-encabezado svg{
  width: 16px;
}
.contenedor-informacion{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-content: start;
  padding: 0px 20px 20px 20px;
}
.h2-contenedor-informacion{
  color: #252525;
  font-size: clamp(22px, 2vw, 30px);
  width: 100%;
  text-align: start;
  font-weight: 600;
}
.parrafo-contenedor-informacion{
  color: #252525;
  font-size: clamp(15px, 1.5vw, 20px);
  width: 100%;
  text-align: start;
  font-weight: 300;
  margin-top: 10px;
}
.contenedor-universal{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-content: start;
}
@media screen and (min-width: 1601px) and (max-width: 1900px) {
  .seccion-menu-opciones{
    width: 14%;
  }
  .seccion-contenido{
    width: calc(86% - 15px);
  }
}
@media screen and (min-width: 1401px) and (max-width: 1600px) {
  .seccion-menu-opciones{
    width: 15%;
  }
  .seccion-contenido{
    width: calc(85% - 15px);
  }
}
@media screen and (min-width: 1001px) and (max-width: 1400px) {
  .seccion-menu-opciones{
    width: 17%;
  }
  .seccion-contenido{
    width: calc(83% - 15px);
  }
}
@media screen and (min-width: 0px) and (max-width: 1000px) {
  .seccion-menu-opciones{
    width: calc(100% - 70px);
    position: fixed;
    left: 15px;
    bottom: 15px;
    height: 50px;
    z-index: 2;
    align-items: center;
    align-content: center;
    overflow-x: auto;
    flex-wrap: nowrap;
    padding: 0px 20px;
    box-shadow: 0px 5px 25px #00000025;
    scrollbar-width: none
  }
  .seccion-contenido{
    width: calc(100% - 0px);
  }
  .opcion-menu-opciones{
    width: 150px;
    min-width: 150px;
    height: 100%;
    align-items: center;
    align-content: center;
    padding: 10px 10px;
  }
  .opcion-menu-opciones svg{
    width: auto;
    height: 20px;
    margin: 0%;
    padding: 0%;
  }
  .main{
    padding-bottom: 80px;
  }
}