<div class="contenedor-encabezado">
    <p class="texto-encabezado">
        <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 6V15H6V11C6 9.89543 6.89543 9 8 9C9.10457 9 10 9.89543 10 11V15H15V6L8 0L1 6Z"/>
        </svg>
        Estructuras
    </p>
</div>

<div class="contenedor-informacion">
    <h2 class="h2-contenedor-informacion">DESCARGA Y ACTIVA</h2>
    <p class="parrafo-contenedor-informacion">Mejora tu entorno de trabajo a través de los componentes, es muy fácil. Busca el componente que deseas instalar en tu espacio, actívalo, configúralo y empieza a disfrutar de la mejor experiencia de trabajo</p>
</div>
<form action="" method="post" class="contenedor-formulario">
    <input type="text" placeholder="Buscar" class="input-buscador-componentes" id="buscador">
</form>


<div class="contenedor-resultados" id="id-contenedor-resultados">

</div>